<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.device.mbg.mapper.UserMapper">

    <sql id="Base_Column_List">
        id, tenant_id, username, phone, real_name, id_card, email, icon, status, gender, gmt_create, gmt_modified
    </sql>

    <select id="queryAll" resultType="com.device.mbg.domain.vo.UserVO">
        select GROUP_CONCAT(r.`name`) roleList, u.id, u.tenant_id, u.username, u.phone, u.real_name, u.id_card,
               u.icon, u.`status`, u.email, u.gender, u.gmt_create, u.gmt_modified
        from sys_user u
        left join sys_user_role ur on ur.user_id = u.id
        left join sys_role r on r.id = ur.role_id
        where 1 = 1
        <include refid="selectCondition"/>
        GROUP BY u.id
        order by u.gmt_create desc;
    </select>

    <sql id="selectCondition">
        <choose>
            <when test="criteria.beginTime != null ">
                and u.gmt_create >= #{criteria.beginTime}
            </when>
        </choose>
        <choose>
            <when test="criteria.endTime != null ">
                and u.gmt_create &lt;= #{criteria.endTime}
            </when>
        </choose>
        <choose>
            <when test="criteria.enable != null ">
                and u.status = #{criteria.enable}
            </when>
        </choose>
        <choose>
            <when test="criteria.blurry != null and criteria.blurry!='' ">
                and (
                u.name like concat('%', #{criteria.blurry}, '%')
                or u.real_name like concat('%', #{criteria.blurry}, '%')
                or u.phone like concat('%', #{criteria.blurry}, '%')
                or u.id_card like concat('%', #{criteria.blurry}, '%')
                )
            </when>
        </choose>
    </sql>

    <select id="findById" resultType="com.device.mbg.domain.entity.User">
        select
        <include refid="Base_Column_List" />
        from sys_user
        where id = #{id,jdbcType=VARCHAR}
        order by gmt_create desc;
    </select>
</mapper>
