<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.device.system.core.mapper.MachineMapper">

    <select id="queryAll" resultType="com.device.system.core.entity.vo.MachineVO">
        select * from sys_machine
        where 1 = 1
        <include refid="selectCondition"/>
        order by gmt_create desc
    </select>

    <sql id="selectCondition">
        <choose>
            <when test="criteria.beginTime != null ">
                and gmt_create >= #{criteria.beginTime}
            </when>
        </choose>
        <choose>
            <when test="criteria.endTime != null ">
                and gmt_create &lt;= #{criteria.endTime}
            </when>
        </choose>
        <choose>
            <when test="criteria.blurry != null and criteria.blurry!='' ">
                and (
                `name` like concat('%', #{criteria.blurry}, '%')
                or `type` like concat('%', #{criteria.blurry}, '%')
                or max_length like concat('%', #{criteria.blurry}, '%')
                or max_width like concat('%', #{criteria.blurry}, '%')
                or min_length like concat('%', #{criteria.blurry}, '%')
                or min_width like concat('%', #{criteria.blurry}, '%')
                or rated_voltage like concat('%', #{criteria.blurry}, '%')
                or power like concat('%', #{criteria.blurry}, '%')
                )
            </when>
        </choose>
    </sql>
</mapper>
